// Landscape
@media (max-height: 500px) {
  #process-a {
    .process-items {
      grid-template-columns: 1fr;
      background: $light-color;
    }
  }
}

// tablets and smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;
  }
}

//smartphones
@media (max-width: 500px) {
  #main-nav {
    text-align: center;
    background: #fff;
    opacity: 0.9;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      li {
        padding: 1rem;
      }
    }
  }

  #header {
    &-home {
      margin-top: -4rem;
      position: relative;
      top: -15rem;
      z-index: -1;
      height: 19rem;
      margin-bottom: -15rem;
    }
  }

  .arrow-down {
    display: none;
  }

  // Menu Button
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #000;
      @include easeOut;
    }

    // Roatate into X With Menu Lines
    &.close {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }
        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

  // mobile menu

  .mobile-menu {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  // Promo Video
  #home-video {
    .container {
      padding: 0;

      .section-title {
        margin-top: 4rem;
      }

      .grid-container {
        grid-template-columns: 1fr;
      }
    }
  }

  // Filmography
  #home-a {
    margin-bottom: -1rem;

    .bottom-line {
      margin-bottom: -1.5rem;
    }

    .filmography {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      padding: 3rem;
      margin-bottom: -1rem;
    }
  }

  // Clients
  #home-b {
    .clients {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      width: 50%;
      margin: auto;
      padding: 3rem;
    }
  }

  // About Page
  #about-a {
    .about-info {
      grid-template-columns: 1fr;
    }
  }

  // Showreels page
  #show-a {
    .banner {
      padding: 0;
    }

    p {
      width: 80%;
      margin: auto;
    }
  }

  #show-b {
    .packages {
      grid-template-columns: 1fr;
    }
  }

  #show-c {
    .extras {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  // Process Page
  #process-a {
    .banner {
      padding: 0;
    }

    .extra-space {
      display: none;
    }

    .process-items {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      padding: 0;

      p {
        font-size: 1.2rem;
      }

      img {
        display: none;
      }
    }
  }

  // Contact
  .contact-a {
    .text-fields {
      grid-template-areas:
        "name"
        "subject"
        "email"
        "phone"
        "message";
    }
  }
}
