// tablets and smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
}

//smartphones
@media (max-width: 500px) {
  #main-nav {
    text-align: center;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      li {
        padding: 1rem;
      }
    }
  }

  #header {
    &-home {
      display: none;
      .header-content {
        display: none;
      }
    }
  }
}
